<%layout("layouts/boilerplate.ejs")%>
<div class="container mt-4">
    <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">⚠️ Validation Error</h4>
    <% if (Array.isArray(err.message)) { %>
            <ul class="mb-0">
        <% err.message.forEach(m => { %>
        <li><%= m %></li>
        <% }) %>
        </ul>
    <% } else { %>
        <p class="mb-0"><%= err.message %></p>
    <% } %>
    </div>
</div>

