<%layout("layouts/boilerplate")%>
<body>
<div class = "col-8 offset-2">
        <h3>New Listing</h3>
        <br>
    <form method = "POST" action = "/listings" novalidate class = "needs-validation" enctype = "multipart/form-data">
        <div class = "mb-3">
        <lable for = "Title" class = "form-label">Title</lable>
    <input name = "listing[title]" placeholder = "Enter Title" type = "text" class = "form-control" required>
    <div class="valid-feedback">Looks good!</div>
    <div class = "invalid-feedback">This feild is required!</div>
</div>
    <div class = "mb-3">
        <lable for = "description" class = "form-label">Description</lable>
<input name ="listing[description]" placeholder = "Enter Description" type = "text" class = "form-control" required>
<div class="valid-feedback">Looks good!</div>
<div class = "invalid-feedback">This feild is required!</div>
    </div>

        <div class = "mb-3">
        <lable for = "image" class = "form-label">Image url</lable>
        <input name = "listing[image]" type = "file" class = "form-control" required>
    </div>

   <div class = "mb-3">
    <lable for = "price" class = "form-label">Price</lable>
<input name = "listing[price]" placeholder = "Enter Price" type = "number" class = "form-control" required>
<div class="valid-feedback">Looks good!</div>
<div class = "invalid-feedback">This feild is required!</div>
   </div>
    <div class="row">
        <div class = "mb-3 col-md-4">
        <lable for = "location" class = "form-label">Location</lable>
    <input name = "listing[location]" placeholder = "Enter Location" type = "text" class = "form-control" required>
    <div class="valid-feedback">Looks good!</div>
<div class = "invalid-feedback">This feild is required!</div>
    </div>
    <div class = "mb-3 col-md-8">
        <lable for = "country" class = "form-label">Country</lable>
<input name = "listing[country]" placeholder = "Enter Country" type = "text" class = "form-control" required>
<div class="valid-feedback">Looks good!</div>
<div class = "invalid-feedback">This feild is required!</div>
    </div>
        <label for="filters">Category</label>
<select class="form-select" aria-label="Default select example" id="filters" name="filters">
  <option value="trending">Trending</option>
  <option value="rooms">Rooms</option>
  <option value="cities">Iconic Cities</option>
  <option value="mountains">Mountains</option>
  <option value="castle">Castle</option>
  <option value="pools">Amazing Pools</option>
  <option value="camping">Camping</option>
  <option value="beach">Beach</option>
  <option value="farms">Farms</option>
  <option value="arctic">Arctic</option>
</select>
    </div>
<br>
    <button class = "btn btn-dark mt-2">Add</button>
    </form>
</div>
</body>