<% layout("layouts/boilerplate") %>

<div class="row mt-3">
<div class="col-6 offset-3"> <!-- center column -->
    <h1 class="text-center">Get started with WanderLust!</h1>

    <form action="/signup" method="POST" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
        name="username"
        id="username"
        type="text"
        class="form-control"
        required
        />
        <br>
        <label for="email" class="form-label">Email:</label>
        <input
        name="email"
        id="email"
        type="text"
        class="form-control"
        required
        /><br>
        <label for="username" class="form-label">Password</label>
        <input
        name="password"
        id="password"
        type="text"
        class="form-control"
        required
        />
        <br>
        <button class = "btn btn-success">Sign Up</button>
        <div class="valid-feedback">Perfect!</div>
        <div class="invalid-feedback">This field is required!</div>
    </div>
    </form>
</div>
</div>
